<div class="wrapper">
    <div class="block">
        <form [formGroup]="login">
            <h2>LOGIN</h2>
            <button type="button" (click)="goToFreelancerLogin()">Login for Freelancers</button>
            <input type="text" placeholder="Enter Email" class="inp" formControlName="email">
            <input type="password" placeholder="Enter Password" class="inp" formControlName="password">
            <div class="btns">
                <button (click)="loginSubmit(login.value)">Login</button> <!-- (click)=> onclick event, 
                                                                        [disabled]=> login button being disabled if the inputs are empty-->
                <button (click)="gotoSignUp()">Sign Up</button>
            </div>
        </form>
    </div>
</div>
