<div class="wrapper">
    <div class="block">
        <form [formGroup]="login">
            <h2>LOGIN</h2>
            <input type="text" placeholder="Enter Name" class="inp" formControlName="name">
            <input type="text" placeholder="Enter Email" class="inp" formControlName="email">
            <div class="btns">
                <button (click)="loginSubmit(login.value)" [disabled]="login.invalid">Login</button> <!-- (click)=> onclick event, 
                                                                        [disabled]=> login button being disabled if the inputs are empty-->
                <button>Sign Up</button>
            </div>
        </form>
    </div>
</div>
