.container {
  height: 200px;
}

.dashboardpage {
  display: flex;
  width: 100%;
  padding-right: 17%;
}

.main {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*overflow-y: overlay;
    height: 478px;
    max-height: 500px;
    min-height: 500px;*/
}

.buttondiv {
  height: 60px;
}
#createbutton {
  float: left;
  margin-left: 15%;
  border-radius: 10px;
  background-color: rgb(155, 218, 172);
  width: 170px;
}

.element {
  border: 2px solid rgb(50, 182, 109);
  border-radius: 10px;
  padding: 15px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}

#ticketbutton {
  border-radius: 10px;
  background-color: rgb(16, 53, 26);
  width: 30%;
}

.ticketpart {
  width: 35%;
  background-color: rgb(224, 255, 237);
  float: right;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ticketpart form {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inp {
  margin: 10px;
  width: 80%;
  height: 50px;
}

.inp2 {
  margin: 10px;
  height: 300px;
  width: 80%;
}

.left {
  width: 65%;
  padding-left: 10%;
}

.tickets {
  height: 200px;
  background-color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}

#acceptticket {
  width: 100%;
}
