<div class="container">
    <app-header></app-header>
</div>

<div class="dashboardpage">
    <div><button type="button" id="createbutton">Create New Job</button></div>
    <div class="main">
        <div class="element">
            <h3>NAME</h3>
            <h5>Description</h5>
            <button type="button" id="ticketbutton">Tickets</button>
        </div>
        <div class="element">
            <h3>NAME</h3>
            <h5>Description</h5>
            <button type="button" id="ticketbutton">Tickets</button>
        </div>
    </div>
</div>



