<div class="headerpage">
    <div class="image" >
        <img src="https://ollang.com/assets/img/ollang-logo-2021.svg" alt=" " (click)="goToHome()" id="ollang">
    </div>
    <div class="headright">
        <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" alt=" " id="userpic" (click)="goToProfile()">
        <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle type="button" id="dropdownMenuButton1" aria-expanded="false">
             {{user.name}}
            </button>
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                <li><a ngbDropdownItem href="profile">Profile</a></li>
                <li><a ngbDropdownItem href="login" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
    
</div>

<!-- https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png -->
